<a href="https://colab.research.google.com/github/fortunesunday/Python-Learning/blob/main/Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
# Declare an empty list
lst = []

In [46]:
# Declare a list with more than 5 items
fruits = ['apple', 'banana', 'watermelon', ' pear', 'orange']

In [47]:
# Find the length of your list
len(fruits)

5

In [48]:
# Get the first item, the middle item and the last item of the list
print(f'first_fruit = {fruits[0]}')
print(f'middle_fruit = {fruits[2]}')
print(f'last_fruit = {fruits[4]}')

first_fruit = apple
middle_fruit = watermelon
last_fruit = orange

In [49]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
person = ['Eftee', 25, 1.74, 'Married', 'Uyo']

In [50]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [51]:
# Print the list using print()
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [52]:
# Print the number of companies in the list
len(it_companies)

7

In [53]:
#Print the first, middle and last company
print('first = {it_companies[0]}')
print('middle = {it_companies[3]}')
print('last = {it_companies[-1]}')

first = {it_companies[0]}
middle = {it_companies[3]}
last = {it_companies[-1]}

In [54]:
# Print the list after modifying one of the companies
it_companies[0] = 'Twitter'
it_companies

['Twitter', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [55]:
# Add an IT company to it_companies
it_companies.append('Optimus')
it_companies

['Twitter',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'Optimus']

In [56]:
# Insert an IT company in the middle of the companies list
it_companies.insert(0, 'Intel')
it_companies

['Intel',
 'Twitter',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'Optimus']

In [57]:
# Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[0] = it_companies[0].upper()
it_companies

['INTEL',
 'Twitter',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'Optimus']

In [58]:
# Join the it_companies with a string '#;  '
'# '.join(it_companies)

'INTEL# Twitter# Google# Microsoft# Apple# IBM# Oracle# Amazon# Optimus'

In [59]:
# Check if a certain company exists in the it_companies list.
'Apple' in it_companies

True

In [60]:
# Sort the list using sort() method
it_companies.sort()
it_companies

['Amazon',
 'Apple',
 'Google',
 'IBM',
 'INTEL',
 'Microsoft',
 'Optimus',
 'Oracle',
 'Twitter']

In [61]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Twitter', 'Oracle', 'Optimus', 'Microsoft', 'INTEL', 'IBM', 'Google', 'Apple', 'Amazon']

In [62]:
# Slice out the first 3 companies from the list
it_companies[0:3]

['Twitter', 'Oracle', 'Optimus']

In [64]:
# Slice out the last 3 companies from the list
it_companies[-3:]

['Google', 'Apple', 'Amazon']

In [70]:
# Slice out the middle IT company or companies from the list
it_companies = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
value = len(it_companies)//2
value
middle_it_company = it_companies[value]
middle_it_company

'Apple'

In [71]:
# Remove the first IT company from the list
it_companies.pop(0)
it_companies

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [72]:
it_companies = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
value = len(it_companies)//2
value

# Remove the middle IT company or companies from the list
it_companies.pop(value)
it_companies

['facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [73]:
# Remove the last IT company from the list
it_companies = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
a = it_companies.pop(-1)
print(it_companies)
print(a)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
Amazon

In [74]:
# Remove all IT companies from the list
it_companies.clear()
it_companies

[]

In [75]:
# Destroy the IT companies list
del it_companies