<a href="https://colab.research.google.com/github/fortunesunday/Python-Learning/blob/main/Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercises: Day 6**

## **Exercises: Level 1**

In [1]:
# Create an empty tuple
empty_tuple = ()

In [3]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ('Favour', 'Victory')
brothers = ('Emediong', 'Emmanuel')

In [4]:
# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
siblings

('Favour', 'Victory', 'Emediong', 'Emmanuel')

In [5]:
# How many siblings do you have?
len(siblings)

4

In [8]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
# The variable siblings is a tuple, hence it cannot be modified.

## **Exercises: Level 2**

In [11]:
# Unpack siblings and parents from family_members

parents = ('Sunday', 'Edidiong')
family_members = parents + siblings
family_members

('Sunday', 'Edidiong', 'Favour', 'Victory', 'Emediong', 'Emmanuel')

In [13]:
siblings = family_members[2:]
siblings

('Favour', 'Victory', 'Emediong', 'Emmanuel')

In [14]:
parents = family_members[0:2]

In [34]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('orange', 'banana', 'apple')
vegetables = ('spinach', 'cabbage', 'broccoli')
animal_products = ('milk', 'egg', 'beef')
food_stuff_tp = fruits + vegetables + animal_products

In [35]:
# Change the food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
food_stuff_lt

['orange',
 'banana',
 'apple',
 'spinach',
 'cabbage',
 'broccoli',
 'milk',
 'egg',
 'beef']

In [36]:
# slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
len(food_stuff_lt)//2
middle_item = food_stuff_lt[len(food_stuff_lt)//2]
middle_item

'cabbage'

In [37]:
# Slice out the first three items and the last three items from food_staff_lt list
first_3_items = food_stuff_lt[0:3]
last_3_items = food_stuff_lt[-3:]
print(first_3_items)
print(last_3_items)

['orange', 'banana', 'apple']
['milk', 'egg', 'beef']

In [38]:
# Delete the food_staff_tp tuple completely
del food_stuff_tp

In [39]:
# Check if an item exists in tuple:
fruits = ('orange', 'banana', 'apple')
vegetables = ('spinach', 'cabage', 'brocolli')
animal_products = ('milk', 'egg', 'beef')
food_stuff_tp = fruits + vegetables + animal_products

'milk' in food_stuff_tp

True

In [40]:
# Check if 'Estonia' is a nordic country
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

'Estonia' in nordic_countries

False

In [41]:
# Check if 'Iceland' is a nordic country
'Iceland' in nordic_countries

True