<a href="https://colab.research.google.com/github/fortunesunday/Python-Learning/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EXERCISES: DAY 7**

In [39]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

## **Exercises: Level 1**

In [3]:
# Find the length of the set it_companies
len(it_companies)

7

In [5]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# To confirm
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [22]:
# Insert multiple IT companies at once to the set it_companies
other_companies = ['netflix', 'Cisco', 'intel', 'Salesforce']
it_companies.update(other_companies)

# To confirm
it_companies

{'Amazon',
 'Apple',
 'Cisco',
 'IBM',
 'Microsoft',
 'Oracle',
 'Salesforce',
 'Twitter',
 'intel',
 'netflix'}

In [23]:
it_companies

{'Amazon',
 'Apple',
 'Cisco',
 'IBM',
 'Microsoft',
 'Oracle',
 'Salesforce',
 'Twitter',
 'intel',
 'netflix'}

In [24]:
# Remove one of the companies from the set it_companies
it_companies.remove('Salesforce')
it_companies

{'Amazon',
 'Apple',
 'Cisco',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'intel',
 'netflix'}

In [ ]:
# What is the difference between remove and discard
# They both remove elements from a set, while .remove throws an error if an element does not exist, .discard does not throw an error if an element does not exist.

## **Exercises: Level 2**

In [25]:
# Join A and B
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [26]:
# Find A intersection B
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [27]:
# Is A subset of B
A.issubset(B)

True

In [28]:
# Are A and B disjoint sets
A.isdisjoint(B)

False

In [34]:
# Join A with B and B with A
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [29]:
# What is the symmetric difference between A and B
A.symmetric_difference(B)

{27, 28}

In [40]:
# Delete the sets completely
del A

## **Exercises: Level 3**

In [35]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age)
print(len(age))
print(len(age_set))

# the length of the list is bigger. This is so because there are duplicates and lists allow duplicates while sets do not.

8
5

In [49]:
# Explain the difference between the following data types: string, list, tuple and set
# strings: This is a sequence of charcters
# Lists: Are a collection of ordered, mutable items
# Tuple: An ordered collection of items, they are usually nonmutable, and are indexed
# Sets: A collection of unordered items, usually unmutable.

In [48]:
# 'I am a teacher and I love to inspire and teach people'. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
words = 'I am a teacher and I love to inspire and teach people'
split_words = words.split()
split_words

# Note that split_words is a list, therfore, convert to as set to get the unique words as sets do not allow duplicates.
words_set = set(split_words)

# Print 'words_Set'
print(words_set)

# To know the length of the unique words, use the len function
print(len(split_words))
print(len(words_set))

# There are 10 unique words.

{'a', 'teacher', 'love', 'people', 'and', 'teach', 'am', 'I', 'to', 'inspire'}
12
10